[user]
	name = Sergey Bashirov
	email = some@email.com
	signingkey = ~/.ssh/git_id_ed25519.pub
[color]
	ui = true
[core]
	editor = vim
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[fetch]
	prune = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
